#header {
    color: rgb(112, 20, 216);
    font-style: italic;
    text-align: center;
}

body {
    background-color: #f2f2f2;
}

#register {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#form1 {
    justify-content: center;
    padding: 20px;
}

label{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#register div{
    margin-bottom: 20px;
}

.gender{
    display: inline;
}

.course{
    display: inline;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 98%;
    padding: 7px;
    border: 1px solid #cccccc;
    /*to curve the edges*/
    border-radius: 4px;
    resize: none;
}

select{
    width: 100%;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#buttons{
    text-align: center;
}

#submit, #reset {
    margin-inline-end: 0%;
    padding: 8px 18px;
    background-color: #7ae280;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    /*to show the hand symbol*/
    cursor: pointer;
}

#submit:hover, #reset:hover {
    background-color: #45a049;
    color: white;
}